@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <p>A</p>
    <img style="width:100%; height:auto;" src="~/images/pic.png" />
    <p>website by Nik, Sean, Raj \& Ghania</p>
</div>
<div>
    <p><strong>About</strong></p>
    <p>
        This website was put together as our final project as brainstormed by Sean and Nikolas,
        and as implemented by Nikolas, Sean, Rajwinder and Ghania. This site is a demonstration
        of a simple, nonpublic media database, where content can be created and stored 
        privately.
    </p>
    <p>
        The site demonstrates form creation and form retrieval, account creation and access. 
        The site uses the format of a character creator for the popular tabletop roleplaying 
        game Dungeons \& Dragons, though the underlying principles of database storage are 
        applicable in many commercial settings. This site demonstrates the basics that many
        professional web developers employ for backend services.

    </p>
</div>