@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align:center">
    <p>A</p>
    <img style="width:100%; height:auto;" src="~/images/pic.png"/>
    <p>website by Nik, Sean, Raj \& Ghania</p>
</div>