@model CharacterSheetViewModel
@{
    ViewData["Title"] = "CharacterSheet";
    CharacterSheetViewModel character = new CharacterSheetViewModel();
}


<!--Note to self. Use inputs, all with the same id, then add an onchange event listener in javascript,
    so that when any of the inputs change I can send it off in an https request. Then maybe put some sort of
    timer before the save triggers again?-->
<div class="">
    <span>Character selection</span>
    <select id="characterSelect" width="50px"></select>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 top-one">            
            <input asp-for="CharacterSheet.CharacterName" style="position:relative; left:7em; top:48%; height:2em;"/>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 top-two">
            <input asp-for="CharacterSheet.Class" style="position:relative; left:1em; top:32%; width:50%" />
            <input asp-for="CharacterSheet.CharLevel" style="position:relative; left:2em; top:32%; width:25%;"/>
            <input asp-for="CharacterSheet.Race" style="position:relative; left:1em; top:43%; " />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 top-three text-left">
            <select asp-for="CharacterSheet.Background" style="position:relative; top:34%;"></select>
            <select asp-for="CharacterSheet.Alignment" style="position:relative; right:2em; top:60%; "></select>     
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 top-four text-left">
            <input asp-for="CharacterSheet.PlayerName" style="position:relative; right:1em; top:32%; width:50%;" />
            <input asp-for="CharacterSheet.Experience" style="position:relative; right:1em; top:43%; width:75%;"/>
        </div>
    </div>
    <div class="row" style="padding-top:0px; margin-top:0px;">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="row">
                <div id="stats" class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="strength">
                        <input asp-for="CharacterSheet.Strength" class="statbox" />
                        <label id="strMod" class="modlabel"></label>
                    </div>
                    <div class="dexterity">
                        <input asp-for="CharacterSheet.Dexterity" class="statbox" />
                        <label id="dexMod" class="modlabel"></label>
                    </div>
                    <div class="constitution">
                        <input asp-for="CharacterSheet.Constitution" class="statbox" />
                        <label id="conMod" class="modlabel"></label>
                    </div>
                    <div class="intelligence">
                        <input asp-for="CharacterSheet.Intelligence" class="statbox" />
                        <label id="intMod" class="modlabel"></label>
                    </div>
                    <div class="wisdom">
                        <input asp-for="CharacterSheet.Wisdom" class="statbox" />
                        <label id="wisMod" class="modlabel"></label>
                    </div>
                    <div class="charisma">
                        <input asp-for="CharacterSheet.Charisma" class="statbox" />
                        <label id="chaMod" class="modlabel"></label>
                    </div>
                </div>
                <div id="saves_skills" class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="passiveWisdom">
                
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div id="armorClass"></div>
            <div id="attacks"></div>
            <div id="equipment"></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div id="traits"></div>
            <div id="features"></div>
        </div>
    </div>
</div>
<script>
$("#characterSelect").change(function (e) {
    var actionUrl = "GetSelectedCharacter";
    var data = e.target.value;
    $.post(actionUrl, { charID: data } ,function (res) {
        @character = res;
    });
});
</script>
