@model LayoutViewModel
@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-12 contact">
            <form id="sheetform" asp-controller="Home" asp-action="CreateCharacter" method="post">
                <div class="row">
                    <div class="col-12 text-center" style="padding:10px;">
                        <h1>Let Us Know Your Thoughts</h1>
                    </div>
                    <div class="col-6">
                        <div class="row" style="padding-bottom:10px;">
                            <div class="col-6">
                                <input type="text" placeholder="Your Name" class="contact-form" />
                            </div>
                            <div class="col-6">
                                <input type="email" placeholder="Your Email" class="contact-form" />
                            </div>
                            <div class="col-12">
                                <input type="text" placeholder="Subject" class="contact-form" />
                            </div>
                            <div class="col-12">
                                <textarea placeholder="Message" class="contact-form"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">Send Message</button>
                    </div>
                    <div class="col-6"></div>
                </div>
            </form>
        </div>
    </div>
</div>


